.menu
{
 background-color:#00AA99;
 font-family: "Sans-serif";
}

.menu a
{
  color:#FFFFFF;
  text-decoration:none;
}

.menu a:hover
{
  text-decoration:underline;
}

.menu li
{
  display:inline;
}

.menu ul > li:first-child
{
  float:right;
  margin-right: 150px;
  border:1px solid white;
  border-radius:5px;
}